.CurrentLocationWrapper {
  background: linear-gradient(-90deg, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.3) 100%);
  /* background: linear-gradient(-90deg, rgba(0, 0, 0, 0.18) 0%,rgba(0, 0, 0, 0.23) 100%); */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5% 0;
}

@media(min-width:768px) {
  .CurrentLocationWrapper {
    grid-area: currentLocation;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "nearby nearby weather""nearby nearby map""nearby nearby map""nearby nearby map";
    padding: 3%;
  }
}

@media(min-width:992px) {
  .CurrentLocationWrapper {
    padding: 0 5%;
  }
  }