.CityLifeWrapper {
    grid-area: CityLife;
    background-color: #384867;
    color: #fff;
    padding: 20px 2%;
}

.CityLifeCategoriesWrapper {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    grid-column-gap: 2rem;
}

.CityLifeCategory p {
    white-space: nowrap;
}

.Title{
    text-align: left;
}

.CityLifeCategory {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FoodAndDrinks {
    color: #b05dd9;
}

.Safety {
    color: #f96b2c;
}

.Sightseeing {
    color: #6876fb;
}

.LocalTransport {
    color: #96bf4f;
}

.LocalCulture {
    color: #00b8d9;
}

.Other {
    color: #ffda44;
}

@media(max-width: 768px) {
    .CityLifeCategoriesWrapper {
        grid-template-columns: repeat(3,1fr);
        grid-gap: 2rem;
    }
  }

  @media(max-width: 400px) {
    .CityLifeCategoriesWrapper {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
    }
  }