.Provider {
    font-size: 1vw;
    max-width: 100vw;
}

.Provider h2 {
    margin: 2%;
}

.Provider input {
    width: 20vw;
    margin: 2%;
    padding: 1%;
}

.Provider select {
    font-size: 1vw;
}

.ProviderList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: 3% 14.5% 0 14.5%;
}

.ProviderDetails {
    margin: 1% 0;
}

@media(max-width: 1080px) {
    .Provider, .Provider input, .Provider select {
        font-size: 3vw;
    }
    .Provider input {
        width: 80vw;
    }
    .Provider select {
        margin: 5% 0;
    }
    .ProviderList {
        flex-direction: column;
        justify-content: space-between;
    }
  }