.City {
    margin-top: 2%;
    font-size: 1vw;
    max-width: 100vw;
}

.City h2 {
    margin: 2%;
}

.AdminCityInput input {
    width: 20vw;
    margin: 2%;
    padding: 1%;
}

.Message {
    color: red;
}

.MessageTrue {
    color: lightgreen;
}

.CitiesFromDb {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin: 0 8.5vw;
    width: 80vw;
}

.CityDb {
    display: flex;
    flex-direction: column;
    padding: 2% 1%;
    margin: 1%;
}

.CityNameDb {
    margin: 1% 0;
}

@media(max-width: 500px) {
    .City {
        font-size: 4vw;
    }

    .CitiesFromDb {
        flex-direction: column;
        margin: 0 3.5vw;
        width: 90vw;
    }

    .AdminCityInput input {
        width: 70vw;
        font-size: 4vw;
    }
}