.MapCity {
  grid-area: MapCity;
  display: block;
  margin: 5% auto;
  width: 90vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  border-radius: 1vw;
  z-index: 1;
  background-color: gray;
  filter: brightness(80%);
  height: 50vh;
}

.MapCity:hover {
  filter: brightness(100%);
  transition: all 0.5s ease;
}

@media(min-width:768px) {
  .MapCity {
    grid-area: MapCity;
    width: 80%;
    min-height: 30vh;
    height: 50vh;
  }
}

@media(min-width:1200px) {
  .MapCity {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
  }
}