.Transportations {
    font-size: 1vw;
    max-width: 100vw;
}

.Transportations h2 {
    margin: 2%;
}

.Transportations select {
    font-size: 1vw;
    margin: 2%;
}

.TransportationsRoutes > div {
    font-size: 1vw;
    margin: 2%;
}

@media(max-width: 500px) {

    .Transportations,
    .Transportations select {
        font-size: 4vw;
    }

    .Transportations select {
        width: 80vw;
    }

    .TransportationsRoutes > div {
        font-size: 4vw;
        text-align: left;
        margin: 5% 2%;
    }
}