.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.fullWidth {
  width: 100%;
}

.newFeedbackWindow {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.newFeedbackPopup {
  height: 90%;
  width: 90%;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 9fr;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.newFeedbackHeader {
  background-color: #232b4b;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: bolder;
  padding: 0 2%
}

.newFeedbackHeader svg {
  font-size: 1.4em;
  padding: 3%;
}

.saveFeedback {
  color: whitesmoke;
  background-color: transparent;
  padding: 1% 2%;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 3px;
}

.newFeedbackMain {
  height: 100%;
  display: grid;
  padding: 0 5%;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 2fr 6fr;
  grid-template-areas:
    "title"
    "type"
    "rate"
    "fb"
}

.inputTitle {
  grid-area: title;
  align-items: center;
}

.inputTitle input {
  padding: 2%;
  border-bottom: 1px solid lightgrey;
  text-align: left;
  font-size: 1em;
  font-weight: 700;
  color: rgb(117, 117, 117)
}

.chooseType {
  grid-area: type;
  display: grid;
  grid-template-rows: 3fr 7fr;
  grid-template-areas: ".""drop"
}

.feedbackRate {
  grid-area: rate;
  display: grid;
  grid-template-rows: 3fr 7fr;
  position: relative;
}

.feedbackRate input[type="range"] {
  -webkit-appearance: none;
  height: 4px;
  background-color: lightgray;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightgreen;
}

.feedbackRate svg {
  color: lightgreen;
  position: absolute;
  margin-top: -25px;
  margin-left: -20px;
  left: 0;
}

.feedbackRate p {
  position: absolute;
  width: 40px;
  margin-top: -30px;
  margin-left: -20px;
  left: 0;
}

.feedbackField {
  grid-area: fb;
  display: grid;
  grid-template-rows: 3fr 7fr
}

textarea {
  border: 1px solid lightgrey;
  height: 90%;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.21);
  resize: none;
  padding: 0.5rem;
}

.dropdownWrapper {
  padding: 5px 10px;
  position: relative;
  width: 90%;
  background-color: transparent;
  z-index: 2;
  grid-area: drop;
  margin-top: 10px;
}

.dropdown {
  position: absolute;
  top: 0;
  left: 0;
}

.dropdownTileWrapper {
  border-bottom: 1px solid lightgray;
}

.dropdownTileWrapper input {
  background-color: transparent;
  width: 90%;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  padding: 2% 0;
}

.dropdownTileWrapper input svg,
.newFeedbackHeader svg {
  cursor: pointer;
}

.dropdownItemList {
  min-height: 0;
  max-height: 24vh;
  overflow-y: auto;
  flex-direction: column;
}

.dropdownItem {
  padding: 5px 10px;
  border-bottom: 0.4px solid rgba(237, 230, 230, 0.18);
  min-height: 4vh;
  background: gray;
  color: white;
  text-align: center;
}

.title::placeholder,
.categoryInput::placeholder,
.textarea::placeholder {
  color: rgb(95, 92, 92);
  font-size: 1rem;
}

.dropdownItem:hover {
  background-color: #999393;
  transition: 0.5s;
}

.title {
  align-items: flex-end;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(95, 92, 92);
}

.newFeedbackHeader svg:hover,
.saveFeedback:hover,
.categoryInput svg {
  color: gray;
  transition: 0.6s;
}

.saveFeedback:hover {
  border: 0.6px inset lightgray;
}

@media(min-width: 400px) {
  .newFeedbackPopup {
    width: 80%;
  }
}

@media(min-width: 768px) {
  .newFeedbackMain {
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 2fr 2fr 6fr;
    grid-template-areas:
      "title title"
      "type rate"
      "fb fb"
  }
}

@media(min-width: 992px) {
  .newFeedbackPopup {
    width: 60%;
  }
}

@media(min-width: 1200px) {
  .newFeedbackPopup {
    width: 50%;
  }
}