.Nearby {
  padding: 4% 0;
  margin: 3% auto;
  width: 95%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 0.7px inset #e6e7ed94;
  border-radius: 20px;
  line-height: 1.6;
  box-shadow: 0px 0px 2px 1px rgb(212, 213, 219);
}

.icon {
  grid-area: icon;
 /* padding-left: 5%;*/
  width: 40px;
  min-height: 100%;
  display: inline-block;
}

.title {
  grid-area: title;
  text-shadow: #111010 2px 3px 3px;
}

.category {
  grid-area: category;
}

.address {
  grid-area: address;
  padding-right: 5%;
 /* font-size: 0.7rem;*/
}

@media(min-width:400px) {
  .address {
    font-size: 0.8rem;
  }
}

@media(min-width: 768px) {
.Nearby {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(3,1fr);
  grid-template-areas: 
  "icon title title title title title"
  "icon category category category category category"
  "icon address address address address address";
  justify-items: left;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 1% 0;
}

  .title {
    font-size: 1rem;
  }

  .category {
    font-size: 0.8rem;
  }

  .icon {
    width: 70px;
  }
}