.Nearby {
  margin: 5% 0;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 0.7px inset #e6e7ed94;
  border-radius: 20px;
  line-height: 1.6;
  box-shadow: 0px 0px 2px 1px rgb(212, 213, 219);
}

.icon {
  grid-area: icon;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.title {
  grid-area: title;
  font-weight: 600;
}

.category {
  grid-area: category;
}

.address {
  grid-area: address;
  padding-right: 5%;
}

@media(min-width:400px) {
  .address {
    font-size: 0.8rem;
  }
}

@media(min-width: 768px) {
  .Nearby {
    display: grid;
    grid-template-columns: 5fr 0.5fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "title title title title title icon"
      "category category category category category icon"
      "address address address address address icon";
    justify-items: left;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 1% 0;
    line-height: 1.3;
    text-align: left;
  }

  .title {
    font-size: 1vw;
  }

  .category,
  .address {
    font-size: 0.8vw;
  }

  .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
  }

  .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }

  .event:before,
  .event:after {
    position: absolute;
    display: block;
    top: 0;
  }

  .event:before {
    left: -217.5px;
    color: rgba(255, 255, 255, 0.4);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
    font-family: 'Saira', sans-serif;
  }

  .event:after {
    box-shadow: 0 0 0 4px whitesmoke;
    left: -57.85px;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
  }

}