.feedbackPopupWindow {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedbackPopup {
    height: 90%;
    width: 90%;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.feedbackPopupHeader {
    background-color: #232b4b;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.feedbackPopupHeader svg {
    font-size: 1.4em;
    padding: 3%;
}

.feedbackPopupMain {
    max-height: 81vh;
    /* proveriti zasto ne rade procenti ovde*/
    overflow-y: auto;
    padding: 1%;
}

.feedbackPopupUserInfo {
    background-color: silver;
    padding: 3%;
    display: grid;
    grid-template-columns: 3fr;
   /* grid-template-columns: 2.5fr 5fr 2.5fr;
    grid-template-rows: 1fr 1fr 1fr 7fr;*/
    grid-template-areas:
        "photo name ."
        "photo . ."
        "photo title ."
        "progressbar rating ."
        "com com com"
        "date . typeicon"
    ;
    grid-row-gap: 5px;
}

.feedbackPopupDate {
    grid-area: date;
    font-size: 0.8rem;
}

.feedbackPopupTypeIcon {
    grid-area: typeicon;
}

.feedbackPopupUserPhoto {
    grid-area: photo;
}

.feedbackPopupUserPhoto img {
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    max-height: 100%;
}

.feedbackPopupUserName {
    grid-area: name;
}

.feedbackPopupTitle {
    grid-area: title;
    font-weight: bold;
}

.feedbackPopupType {
    grid-area: icons
}

.feedbackPopupRate {
    grid-area: rating;
    font-size: 0.9rem;
}

.feedbackPopupProgress {
    grid-area: progressbar;
    width: 80%;
    height: 12px;
    display: flex;
    align-items: center;

}

.feedbackPopupInnerProgress {
    height: 40%;
    width: 100%;
    border-radius: 10px;
    background-color: lightgray;
}

.feedbackPopupProgressColor {
    height: 100%;
    border-radius: 10px;
}

.feedbackPopupMain {
    height: 100%;
    overflow-y: auto;
}

.feedbackContent {
    grid-area: com;
    font-size: 0.9rem;
}

.feedbackPopupComments {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3%;
}

.feedbackNewComment textarea {
    width: 90%;
    height: 10vh;
    resize: none;
    box-sizing: border-box;
}

.feedbackNewComment {
    display: flex;
}

.feedbackPopupCommentTitleContainer {
    display: grid;
    grid-template-columns: 2fr 4fr 3fr
}

.feedbackPopupNumberOfComments {
    display: flex;
}

@media(min-width: 768px) {
    .feedbackPopupUserInfo {
        display: grid;
        grid-template-columns: 2.5fr 5fr 2.5fr;
        grid-template-rows: 1fr 1fr 1fr 7fr;
        grid-template-areas:
            "photo name ."
            "photo title title"
            "photo progressbar rating"
            "com com com"
            "date . typeicon"
        ;
    }
}