body, div,
h1, h2, h3, h4, h5, h6, p,
a, ol, ul, li, input
nav {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

.Main {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
      "welcome"
      "choose-city"
      "choose-city2"
      "weather"
      "map"
      "nearby"
      "feedback";
}

@media(min-width: 768px) {
    .Main {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
    grid-template-areas:
        "welcome welcome welcome welcome"
        "choose-city choose-city choose-city choose-city"
        "choose-city2 choose-city2 choose-city2 choose-city2"
        "weather weather weather weather"
        "nearby nearby map map"
        "nearby nearby map map"
        "feedback feedback feedback feedback"
        "weather-city weather-city weather-city weather-city";
}
}
/* prvobitni prikaz 
.Main {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
    grid-template-areas:
        "welcome welcome welcome welcome"
        "choose-city choose-city choose-city choose-city"
        "choose-city2 choose-city2 choose-city2 choose-city2"
        "weather weather weather weather"
        "nearby nearby map map"
        "nearby nearby map map"
        "feedback feedback feedback feedback"
        "weather-city weather-city weather-city weather-city";
}
*/