@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.NearbyWrapper {
    grid-area: nearby;
    display: block;
    padding: 3.15rem;
    /* padding: 2% 0;
    margin: 2% auto; */
    font-size: 4vw;
    z-index: 1;
}

@media(min-width:768px) {
    .NearbyWrapper {
        border-left: 4px solid whitesmoke;
        font-size: 1vw;
    }
}