@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.NearbyWrapper {
    grid-area: nearby;
    display: block;
    padding: 1rem;
    font-size: 4vw;
    z-index: 1;
}

@media(min-width:768px) {
    .NearbyWrapper {
        border-left: 4px solid whitesmoke;
        padding: 3.15rem;
        font-size: 1vw;
    }
}