body, div,
h1, h2, h3, h4, h5, h6, p,
a, ol, ul, li, input
nav {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
}

.flex {
  display: flex;
}

.fullHeight {
  height: 100%;
}

.pointer {
    cursor: pointer;
}

.chooseCity {
  grid-area: choose-city2;
  width: 100vw;
  height: 5vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chooseCity h2 {
  color: gray;
  font-size: 0.7rem;
}

.cityLink {
  color: whitesmoke;
}

.dropdownWrapper {
 /* border: 1px solid black; */
  padding: 5px 10px;
  position: relative;
  width: 80%;
 /* background-color: white; */
 background-color: transparent;
}

.dropdown {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.dropdownTileWrapper input {
  background-color: transparent;
  width: 90%;
}

.dropdownItemList {
  min-height: 0vh;
  max-height: 15vh;
  overflow-y: auto;
 /* border: 1px solid black; */
  flex-direction: column;
  z-index: 10;
}

.dropdownItem {
    padding: 5px 10px;
    border-bottom: 0.4px solid rgb(196, 192, 192);
    min-height: 5vh;
  /*  background-color: white;*/
    background: rgba(255, 105, 145);
    color: white;
}

.dropdownItem:hover {
    background-color: gray;
    background: rgb(226, 103, 136);
    cursor: pointer;
}

@media(min-width: 400px) {
    .dropdownWrapper {
        width: 50vw;
    }
    .chooseCity h2 {
        font-size: 1.2rem;
    }
}

@media(min-width: 776px) {
    .chooseCity {
      width: 100%;
      flex-direction: row;
    }

    .chooseCity h2 {
      font-size: 1.5rem;
    }

    .dropdownWrapper {
        width: 30vw;
        height: 100%;
    }
}