.Weather {
    grid-area: weather;
   /* display: block;*/
    margin: 3% auto;
   /* max-height: 5%;*/
    color: white;
    display: flex;
    flex-direction: column;
    z-index: 1;
} 

.Weather div {
    text-align: center;
}

.Weather div:nth-of-type(2) {
  width: 50vw;
}


/*
@media(min-width:768px) {

}*/