.Weather {
  grid-area: weather;
  /* display: block;*/
  margin: 0 auto;
  /* max-height: 5%;*/
  color: white;
  display: flex;
  font-size: 4vw;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  line-height: 1.6;
}

.Weather div {
  text-align: center;
  padding: 0 2%;
}

.Weather div:nth-last-of-type(2) img {
  width: 100%;
}

.Weather div:nth-of-type(4) {
  font-size: 1.5rem;
  font-weight: 200;
}

@media(min-width:768px) {
  .Weather {
    flex-direction: row;
  /* justify-content: flex-start;*/
    align-items: center;
    font-size: 1vw;
    width: 100%;
    margin: 0;
  }
}