.Weather {
    grid-area: weather;
   /* display: block;*/
    margin: 3% auto;
   /* max-height: 5%;*/
    color: white;
    display: flex;
    flex-direction: column;
} 
.Weather img {
    display: block;
    width: 30%;
    margin: 0 auto;
}



/* prvobitna verzija
.Weather {
    grid-area: weather;
    display: block;
    margin: 1% auto;
    max-height: 5%;
    color: white;
}
*/