.HotelsCity,
.HotelsCity div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HotelsCity {
  width: 95%;
}

.HotelsCity div {
  padding: 3%;
  margin: 3% auto;
  width: 90%;
  color: white;
  border: 0.7px inset #e6e7ed94;
  border-radius: 20px;
  line-height: 1.6;
  box-shadow: 0px 0px 2px 1px rgb(212, 213, 219);
}

.hotelRating {
  grid-area: hotelRating;
}

.hotelProgressbar {
  grid-area: hotelProgressbar;
}

.HotelsCity img {
  grid-area: hotelPhoto;
  /* padding-left: 5%;*/
  height: 50%;
  display: inline-block;
  margin-bottom: 0.6em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.HotelsCity div h3 {
  grid-area: hotelTitle;
  font-weight: 700;
}

.HotelsCity div p {
  grid-area: hotelDescription;
}

@media(min-width: 768px) {
  .HotelsCity {
    width: 100%;
    grid-area: HotelsCity;
    text-align: left;
    align-items: initial;
  }

  .HotelsCity img {
    /* height: 40px;*/
    display: block;
    margin-right: 10px;
  }

  .HotelsCity div {
    display: grid;
    grid-template-columns: 2fr 8fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "hotelPhoto hotelTitle hotelRating"
      "hotelPhoto hotelDescription hotelRating"
      "hotelPhoto hotelProgressbar hotelRating";
    justify-items: left;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 1% 2%;
    line-height: 1.3;
    width: 100%;
  }

  .HotelsCity a div {
    max-width: 1000px;
  }

  .HotelsCity h3 {
    font-size: 1vw;
  }

  .HotelsCity p {
    font-size: 0.8vw;
  }
}

@media(min-width: 1300px) {
  .HotelsCity {
    margin: 0 auto;
  }

  .HotelsCity h3 {
    font-size: 1vw;
  }

  .HotelsCity p {
    font-size: 0.8vw;
  }

  .HotelsCity p, .HotelsCity h3 {
    padding-left: 3%;
  }

  .HotelsCity img {
    width: 100%;
    height: 100%;
    margin: 0 2%;
  }
}