@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.feedbackContainer {
  grid-area: feedback;
  /*height: 80vh;*/
  display: grid;
  grid-template-rows: 2fr 8fr;
  justify-items: center;
  /* background: linear-gradient(-90deg, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.3) 100%);*/
  /* background: linear-gradient(-90deg, rgba(0, 0, 0, 0.18) 0%,rgba(0, 0, 0, 0.23) 100%); */
 /* background-color: rgb(90, 111, 152);*/
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  position: relative;
  max-width: 100vw;
  padding-top: 5%;
}

.ticketsWrapper {
  justify-items: center;
  align-items: center;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(1fr);
  max-width: 1500px;
}

.sortTicket {
  height: 100%;
  display: flex;
  align-items: center;
}

.addFeedback {
  position: absolute;
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
  top: 4vh;
  right: 10vh;
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(min-width: 768px) {
  .ticketsWrapper {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media(min-width: 1300px) {
  .ticketsWrapper {
    width: 80vw;
  }
}