@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.feedbackContainer {
  grid-area: feedback;
  /*height: 80vh;*/
  display: grid;
  grid-template-rows: 2fr 8fr;
  justify-items: center;
  background: linear-gradient(-90deg, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.3) 100%);
  z-index: 1;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  position: relative;
  width: 100vw;
}

.ticketsWrapper {
/*  height: 100%;
  display: grid;*/
  justify-items: center;
  align-items: center;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(1fr);
}

.sortTicket {
  height: 100%;
  display: flex;
  align-items: center;
}

.addFeedback{
  position: absolute;
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
  top: -4vh;
  right: 10vh;
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(min-width: 768px) {
  .ticketsWrapper {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media(min-width: 1300px) {
  .ticketsWrapper {
    width: 80vw;
  }
}
