.Map {
  grid-area: map;
  display: block;
  margin: 5% auto;
  /*  width: 90vw;
    height: 90vw; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

@media(min-width:776px) {
  .Map {
    margin: 10% auto;
    /* width: 30vw;
    height: 30vw;*/
  }
}