@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.loginWrapper{
min-height: 100vh;
background-image: url("./../../assets/frankfurt.jpg");
padding: 2.5rem 1rem;
}

.loginWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(37, 35, 54, 0.9), rgba(45, 35, 70, 0.8));
}

.btn {
  display: inline-block;
  padding: 0.6rem 0.8rem;
  font-size: 1em;
  
  background: linear-gradient(to bottom, rgb(120, 119, 128) 0%, rgb(59, 58, 68) 0%, rgb(130, 135, 161) 0%, #413e42 49%, rgb(62, 59, 63) 50%, rgb(140, 140, 156) 100%);
   /*
  background: linear-gradient(to bottom, rgb(43, 181, 142) 0%, rgb(7, 84, 57) 52%, rgb(8, 86, 61) 54%, rgb(13, 105, 66) 70%, rgb(43, 181, 132) 100%);
   */
  /*
  background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 0%, rgba(51,153,255,1) 49%, rgba(51,153,255,1) 50%, rgba(41,184,229,1) 100%);*/
}

.loginWrapper form {
  background-color: #fff;
 /* padding: 6rem 2.5rem 2.5rem 2.5rem; */
  padding: 6rem 0.8rem 0.8rem 0.8rem;
  max-width: 100vw;
  box-shadow: 0rem 0rem 0.6rem 0.2rem rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.loginWrapper form .formGroup {
  margin-bottom: 2em;;
}

.formGroup input {
  padding: 0.6rem;
  box-shadow: 0rem 0rem 0.1rem rgba(0, 0, 0, 0.7);
  /*font-size: 1em; isključeno zbog zbrke u firefox-u*/
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  display: inline-block;
}

.loginWrapper form .formHeader {
 /* background-color: #384867; */
  background-color: #232b4b;
  transition: box-shadow 0.05s linear;
  height: 20%;
  position: absolute;
  top: 0;
  left: 0;
}

.inputWrapper .iconWrapper {
  color: #384867;
  width: 2.5rem;
  box-shadow: 0px 0px 0.1rem rgba(0, 0, 0, 0.7);
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.btn:hover {
  background: transparent;
  color: navy;
  outline: 1.5px inset navy;
}

.feedback {
  color: crimson;
}

@media(min-width: 400px) {
  .loginWrapper form {
    max-width: 400px;
    padding: 6rem 2.5rem 2.5rem 2.5rem;
  }
}