@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body, div, p, form, button, input{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
}

.flex {
  display: flex;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rel {
  position: relative;
}

.white {
  color: white;
}

.fullWidth {
  width: 100%;
}

.radius2 {
  border-radius: 0.2rem;
}

.upperC {
  text-transform: uppercase;
}

.fadein {
  animation-name: fadein;
  animation-duration: 2s;
}

.loginWrapper {
  min-height: 100vh;
  background-image: url("./../../assets/frankfurt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2.5rem 1rem;
}

.loginWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(37, 35, 54, 0.9), rgba(45, 35, 70, 0.8));
}

.loginWrapper form {
  background-color: whitesmoke;
  padding: 6rem 0.8rem 0.8rem 0.8rem;
  max-width: 100vw;
  box-shadow: 0 0 0.3rem 0.2rem rgba(0, 0, 0, 0.267);
  z-index: 2;
  animation-name: fadein;
  animation-duration: 1s;
}

.loginWrapper form .formGroup {
  margin-bottom: 2em;
}

.formGroup input {
  padding: 0.6rem;
  box-shadow: 0rem 0rem 0.1rem rgba(0, 0, 0, 0.7);
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  display: inline-block;
}

.loginWrapper form .formHeader {
  background-color: #232b4b;
  transition: box-shadow 0.05s linear;
  height: 20%;
  position: absolute;
  top: 0;
  left: 0;
}

.inputWrapper .iconWrapper {
  color: #384867;
  width: 2.5rem;
  box-shadow: 0px 0px 0.1rem rgba(0, 0, 0, 0.7);
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.loginWrapper form button {
  display: inline-block;
  padding: 0.6rem 0.8rem;
  font-size: 1em;
  background: linear-gradient(to bottom, rgba(251, 65, 115, 0.856) 0%, rgba(251, 65, 115, 0.801) 60%, rgba(251, 65, 115, 0.87) 53%, rgba(210, 75, 91, 0.836) 53%, rgba(251, 65, 115, 0.808) 53%);
}

.loginWrapper form button:hover {
  color: whitesmoke;
  cursor: pointer;
  transform: scale(1.01);
  transition: 0.8s;
  box-shadow: 5px 5px 5px #cac7c7e8;
  cursor: pointer;
}

.feedback {
  color: crimson;
  font-size: 0.7rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media(min-width: 400px) {
  .loginWrapper form {
    max-width: 400px;
    padding: 6rem 2.5rem 2.5rem 2.5rem;
  }
}