.Container {
    grid-area: nav;
}

.flexNav {
    display: flex;
}

.fullWidth {
    width: 100%;
}

.center {
    align-items: center;
}

.Nav {
    z-index: 5;
    background-color: #232b4bf3;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    padding: 0 2%;
    justify-content: space-between;
    color: #fff;
    width: 100vw;
    height: 60px;
    position: relative;
}

.Logo span,
.User {
    cursor: pointer;
}

.Logo span {
    font-size: 1.6rem;
    color: #fff;
}

.Menu,
.User {
    justify-content: space-evenly;
}

.Menu {
    width: 150px;
}

.User {
    position: relative;
    font-size: 0.8rem;
}

.UserPhoto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.UserPhoto img {
    min-height: 100%;
}

.UserMenu,
.UserMenu:before,
.NavbarToggle {
    position: absolute;
}

.UserMenu,
.UserMenu:before {
    border-radius: 2px;
}

.UserMenu {
    background-color: rgb(171, 170, 180);
    padding: 10px 25px;
    color: #666;
    top: 50px;
    right: 0;
    display: none;
    z-index: 10;
    flex-direction: column;
    align-items: flex-start;
}

.UserMenu:before {
    top: -5px;
    right: 8px;
    background-color: rgb(171, 170, 180);
    content: '';
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
}

.UserMenu,
.NavbarToggle,
.User {
    text-align: center;
}

.UserMenu a,
.isAdminCheck {
    padding: 5px;
    color: #444;
}

.isAdminCheck:hover,
.UserMenu a:hover {
    color: #fff;
    transition: 0.6s;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

.UserMenu.Show {
    display: flex;
}

@media(min-width: 400px) {
    .Menu {
        width: 200px;
    }

    .User {
        font-size: 1.1rem;
    }
}

@media(min-width:768px) {
    .Logo span {
        font-size: 2rem;
    }

    .UserPhoto {
        width: 50px;
        height: 50px;
    }
}