.Container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-area: nav;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    /* grid-template-rows: 1fr auto 1fr; */
    grid-row-gap: 5px;
    width: 100%;
    background-color: #232b4b;
    color: whitesmoke;
    text-align: justify;
}

.Nav {
    z-index: 5;
    height: 60px;
    background-color: #26548f88;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    /* position: relative; */
}

.Logo span {
    font-size: 30px;
    cursor: pointer;
}

.Menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.User {
    display: flex;
    cursor: pointer;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
}

.BurgerMenu {
    cursor: pointer;
    margin-left: 20px;
}

.User .UserPhoto {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    /* border: 2px solid #fff; */
}

.UserPhoto img {
    width: 100%;
    height: 100%;
}

.UserMenu {
    background-color: rgb(171, 170, 180);
    padding: 10px 5px;
    position: absolute;
    color: #666;
    top: 50px;
    right: 0px;
    display: none;
    text-align: center;
    border-radius: 2px;
    z-index: 10;
    flex-direction: column;
    align-items: flex-start;
}

.UserMenu:before {
    position: absolute;
    top: -5px;
    right: 8px;
    background-color: rgb(171, 170, 180);
    content: '';
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    border-radius: 2px;
}

.UserMenu a {
    padding: 5px;
    color: #444;
    width: 100%;
}

/*
.UserMenu a:hover {
    background-color: rgb(0, 81, 255);
    color: #fff;
}*/

.isAdminCheck {
    padding: 5px;
    color: #444;
    width: 100%;
}

.isAdminCheck:hover,
.UserMenu a:hover {
    color: #232b4b;
    transition: 0.6s;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

.UserMenu.Show {
    display: flex;
}

.Line {
    width: 40px;
    height: 4px;
    background-color: white;
    margin-top: 10px;
    transition: 0.5s;
    border-radius: 4px;
}

.Line:first-child {
    margin-top: 0px;
}

.Line.TransformMenu:first-of-type {
    transform: rotate(45deg) translate(10px, 10px);
}

.Line.TransformMenu:nth-of-type(2) {
    transform: rotate(-45deg);
}

.Line.TransformMenu:nth-of-type(3) {
    opacity: 0;
}

.NavbarToggle {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(134, 133, 133, 0.993);
    transition: height 0.3s linear;
    overflow: hidden;
    /* padding: 0 5%; */
    text-align: center;
}

.NavbarToggle.Show {
    height: 125px;
}

.NavbarToggle li a {
    padding: 10px 0;
    display: block;
    text-transform: uppercase;
    color: #fff;
}

.NavbarToggle li a:hover {
    background-color: rgba(221, 222, 226, 0.158);
    transition: 0.6s;
    color: rgba(85, 82, 82, 0.993);
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

@mediA(min-width: 400px) {
    .User {
        font-size: 1.1rem;
    }

    .User .UserPhoto {
        width: 40px;
        height: 40px;
    }
}

@media(min-width:768px) {
    .Menu {
        width: 30%;
    }


}